$primary-color: #3686BE;
$background-color: #f7f7f7;
$secondary-button-color: #BBB;
$font-color: #222;

header {
  background-color: $primary-color;
}

body {
  text-align: center;
  margin: 0;
  color: $font-color;
  background-color: $background-color;
}

h1 {
  margin: 0;
  padding: 25px;
  font-style: italic;
}

table {
  width: 650px;
  height: 650px;
  margin: 100px auto 30px auto;
  border-collapse: collapse;

  tr {
    border-left:3px solid $primary-color;
    border-right:3px solid $primary-color;

    &:first-child, &:nth-child(3n+1) {
      border-top:3px solid $primary-color;
    }

    &:last-child {
      border-bottom:3px solid $primary-color;
    }

    td {
      background-color: white;
      border:1px solid #CCC;

      &:first-child, &:nth-child(3n+1) {
        border-left: 3px solid $primary-color;
      }

      &:last-child {
        border-right: 3px solid $primary-color;
      }

      input {
        border: none;
        height: 100%;
        width: 100%;
        font-size:30px;
        text-align: center;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

button {
  padding: 5px 20px;
  font-size: 25px;
  border: 0;
  outline:0;

  &:hover {
    cursor: pointer;
  }

  &#solve {
    background-color: $primary-color;
    margin-right: 20px;

    &:hover {
      background-color: lighten($primary-color, 5%);
    }
  }

  &#clear {
    background-color: $secondary-button-color;

    &:hover {
      background-color: lighten($secondary-button-color, 5%);
    }
  }
}

#error-box {
  color: #D8000C;
  font-style: italic;
  margin-bottom: 22px;
  height:18px;
}
